*.log
*.aux
main-blx.bib
main.bbl
main.blg
main.idx
main.ilg
main.ind
main.out
main.pdf
main.run.xml
main.synctex.gz*
main.tcp
main.toc
main.tps
*.DS_Store
*gitignore~
*.Rapp.history
*~
\#*
Library/*
TSWLatex*
.dropbox
Icon*
_README
copy_of_git_packed_refs
